body {
    background-color: gray;
    margin: 0;
}

nav {
    background-color: black;
    font-size: 2rem;
    font-style: normal;
    padding: 5px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


li {
    list-style: none;
}

.house {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: aquamarine;
}

.house-info {
    font-size: larger;

}

.addForm {
    max-width: fit-content;
    font-size: 1.5rem;
    margin: 5rem;
    padding: 2rem;
    background-color: antiquewhite;
}

.property {
    margin: 30px;
}